.follow{
    background-color: #4d4382;
    color: white;
    border: none;
    padding: 0.6em 2em;
    text-align: center;
    margin: 1em;
    text-decoration: none;
    font-size: 1.1em;
    display: float;
    float: right;
    cursor:pointer;
    border-radius: 8px;
    width: 120px;
    min-width: 140px
}

.follow:hover {
    color: #fdf4f7;
    background-color: #291a4a;
    border-color: #291a4a;
}