.box {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #291A4A;
}

.card {
    text-align: center;
    padding: 0%;
    border: 5px solid #291A4A;
    border-bottom: 10px solid #291A4A;
    box-shadow: 5px 5px 5px grey;
}

.card h1 {
    font-size: 25px;
    background-color: #291A4A;
    border-bottom: 5px solid #291A4A;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.card body {
    text-align: center;
    padding-bottom: 0%;
}

.card p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.card p:hover{
    background-color: #986AA8;
    text-align: center;
    color: white;
    font-weight: bold;
}