<div class="card col box">
    <table>
        <th>
            <h1>Recent Activity</h1>
        </th>
        <caption hidden>
            Recent activity you've performed. 
        </caption>
        <tr *ngFor="let follower of activity" id="visual">
            <td *ngIf="follower.title !== undefined" class="edit">{{follower.title}}</td>
            <td *ngIf="follower.title === undefined" class="edit">{{follower.message.slice(0,15) + '...'}}</td>
        </tr>
        <tr *ngIf="(activity == undefined)">
            No Activity!
        </tr>
    </table>
</div>