<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">
            <div class="container" id="root">
                <div class="row">
                    <div class="col">
                        <p><span>{{ root.userName }}</span> • {{ root.dateTime | date:'short' }}</p>
                    </div>
                    <div class="col" id="follow-post-btn">
                        <button type="button" class="btn btn-primary" style="margin-right: 5px;">Follow Post</button>
                    </div>
                </div>
                <div class="row">
                    <h1>{{ root.title }}</h1>
                    <h5>{{ root.message }}</h5>
                    <div class="container" *ngFor="let part of topStory">
                        <h5>{{ part.message }}</h5>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-3" id="right">
        </div>
    </div>
</div>