<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">
            <div class="container" id="root">
                <div class="row">
                    <div class="col">
                        <p><span>{{ root.userName }}</span> • {{ root.dateTime | date:'short' }}</p>
                    </div>
                    <div class="col" id="follow-post-btn">
                        <app-follow-button-root class="btn" style="margin-right: 5px;" [id]="root.id">Follow Post</app-follow-button-root>
                    </div>
                </div>
                <div class="row" style="padding: 10px;">
                    <h1>{{ root.title }}</h1>
                    <div class="split"></div>
                    <div class="part" style="padding-top: 0px;">
                        <p>{{ root.userName }}</p>
                        <h5>{{ root.message }}</h5>
                    </div>
                    <div class="part" *ngFor="let part of topStory">
                        <p>{{ part.userName }}</p>
                        <h5>{{ part.message }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" id="right">
        </div>
    </div>
</div>