.container-fluid {
    padding: 0;
    background-color: #f7f2ff;
    background-size: cover;
}

#left {
    background-color: #f7f2ff;
}

#center {
    padding-top: 20px;
    margin: 0 auto;
}

#right {
    background-color: #f7f2ff;
}

span {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: rgba(20, 20, 20, 0.8);
}

#follow-post-btn {
    text-align: right;
}

#root {
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-bottom: 1vh;
    background-color: white;
}

h1 {
    text-align: center;
}

.split {
    border-bottom: 1px solid rgb(100, 100, 100);
    margin: 2vh 0;
}

.part {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    padding: 10px
}

.part:last-child {
    border-bottom: none;
}

h5 {
    padding-left: 1vw;
}