#nav-text{
    color: #fdf4f7;
    font-size: 18px;
    font-family: 'Segoe UI', 'Tahoma', sans-serif;
}

#nav-text:hover{
    color: #7877cf;
    cursor: pointer;
    text-decoration: underline #7877cf 3px;
}

.bg-img{
    background-image: url(../../assets/starrynightmoon.png), url(../../assets/starrynight2.png);
    min-height: 3vw;
    background-position-x: right;
    background-repeat: no-repeat, repeat;

}
.navbar-brand{
    margin-left: 3vw;
}

.container-fluid{
    padding: 0;
    margin: 0;

}

.navbar-nav{
    margin-right: 2vw;
}

.navbar-toggler{
    border-color:#fdf4f7;
}

.navbar-toggle :hover{
    border-color:#fdf4f7 !important;
}

.nav-item{
    margin: 0;
    padding: 0;
    display: block;
}

img{
    padding: 0;
}
