<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg"><i class="fa fa-fire"></i> Hot</button>
            <button type="button" class="btn btn-outline-dark btn-lg"><i class="fa fa-star"></i> Popular</button>
            <button type="button" class="btn btn-outline-dark btn-lg"><i class="fa fa-hourglass-start"></i>
                Newest</button>
            <button type="button" class="btn btn-outline-dark btn-lg"><i class="fa fa-hourglass-end"></i>
                Oldest</button>
        </div>
    </div>
</div>