<div class="wrapper">
<div class="container mt-5 d-flex justify-content-center">
<div class="loginhtml">
<div class="ml-3 w-100">
    <button type="button" class="btn btn-success btn-lg btn1" (click)="Loginfunc()" *ngIf="!(auth.isAuthenticated$ | async)">Login</button>
    <button type="button" class="btn btn-success btn-lg btn2" (click)="Registerfunc()" *ngIf="!(auth.isAuthenticated$ | async)">Register</button>
    <button type="button" class="btn btn-success btn3" (click)="Logoutfunc()" *ngIf="(auth.isAuthenticated$ | async)">Logout</button>
</div>
</div>
</div>
</div>

