.container
{

max-width: 500px;
max-height: 500px;

}

img {
    margin: auto;
    display: block;
}

.btn1{
    text-align: center;
    height: 8vh;
    width: 15vw;
    margin: 15px;
}

.btn2{
    text-align: center;
    height: 8vh;
    width: 15vw;
    margin: 15px;
}

.btn3{
    text-align: center;
    height: 8vh;
    width: 15vw;
    margin: 15px;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background-image: url(src/assets/loginbg.gif);
}
