.container
{

max-width: 700px;
max-height: 900px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 3em;
}

.btn1 {
    margin-bottom: 2em;
}


.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background-image: url(src/assets/loginbg.gif);
}
