<!-- call the nav bar component -->
<nav-bar></nav-bar>

<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">
            <!-- search bar and create post button -->
            <div class="search">
                <form class="col-10">
                    <input type="search" class="form-control" placeholder="Search To The Moon" aria-label="Search">
                </form>
                <a class="btn btn-primary" role="button">Create Post</a>
            </div>

            <!-- featured post-->
            <h3>Featured Post</h3>

            <!-- filter bar -->
            <!-- call the filter bar component -->

            <!-- feed -->

        </div>
        <div class="col-3" id="right">
        </div>
    </div>
</div>