<!-- call the nav bar component -->
<div class="container-fluid">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="row col-6">
            <!-- search bar and create post button -->
            <form class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search To The Moon" aria-label="Search">
            </form>
            <a class="btn" (click)="goToCreatePost()" role="button">Create Post</a>

            <!-- featured post-->
            <h3>Featured Post</h3>

            <!-- filter bar -->
            <!-- call the filter bar component -->

            <!-- feed -->
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
