.bg {
    background-color: #f7f2ff;
}
.followButton {
    display: flex;
    float: right;
}
.center-text {
    text-align: center;
}
.box {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #291A4A;
}
.follow{
    background-color: #4d4382;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    text-decoration: none;
    display: float;
    float: right;
    border-radius: 16px;
    width: 120px;
}
.unFollow{
    background-color: #4d4382;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: float;
    float: right;
    border-radius: 16px;
    width: 120px;
}
.greeting {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    text-align: center;
    padding: 0%;
    border: 5px solid #291A4A;
    border-bottom: 10px solid #291A4A;
    box-shadow: 5px 5px 5px grey;
}

.card h1 {
    font-size: 25px;
    background-color: #291A4A;
    border-bottom: 5px solid #291A4A;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.card body {
    text-align: center;
    padding-bottom: 0%;
}

.card p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.card p:hover{
    background-color: #986AA8;
    text-align: center;
    color: white;
    font-weight: bold;
}

