<button class="follow">
    <app-follow-button [id]="id"></app-follow-button>
</button>
<body class="bg">
    
    <br>
    <div class="greeting container">
        <p>¡¡¡¡Bienvenidos {{currentUser.username}}!!!!</p>
    </div>
    <br>
    <div class="container">
        <div class="row center-text">
            <div class="col">
                <app-recent-activity [id]="id"></app-recent-activity>
            </div>
            <div class="col">
                <app-list-of-followers [id]="id"></app-list-of-followers>
            </div>
            <div class="col">
                <app-followed-posts [id]="id"></app-followed-posts>
            </div>
        </div>
    </div>
</body>