.followButton {
    display: flex;
    float: right;
}
.center-text {
    text-align: center;
}
.box {
    margin-left: 5px;
    margin-right: 5px;
}
.follow{
    background-color: #291A4A;
    background-image: linear-gradient(#291A4A, #986AA8, #4d4382);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    text-decoration: none;
    display: float;
    float: right;
    border-radius: 16px;
    width: 120px;
}
.unFollow{
    background-color: #4d4382;
    background-image: linear-gradient(#4d4382, #986AA8, #291A4A);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    display: float;
    float: right;
    border-radius: 16px;
    width: 120px;
}