<div>
    <nav-bar></nav-bar>
</div>

<form>
    <button class="follow" [ngClass]="{'follow':isFollow == true,
        'unFollow':isFollow == false }" (click)="onClick()">
        {{isFollow == true ? 'unfollow' : (isFollow == false ? 
        'Follow' : '' )}}
    </button>
</form>

<br>
<div class="greeting container">
    <p>Welcome! {{currentUser.name}}</p>
</div>
<br>
<div class="container">
    <div class="row center-text">
        <div class="col">
            <app-recent-activity></app-recent-activity>
        </div>
        <div class="col">
            <app-list-of-followers></app-list-of-followers>
        </div>
        <div class="col">
            <app-followed-posts></app-followed-posts>
        </div>
    </div>
</div>