<div>
    <nav-bar></nav-bar>
</div>

<form>
    <button class="follow" [ngClass]="{'follow':isFollow == true,
        'unFollow':isFollow == false }" (click)="onClick()">
        {{isFollow == true ? 'unfollow' : (isFollow == false ? 
        'Follow' : '' )}}
    </button>
</form>

<br>
<div class="greeting container">
    <p>Welcome! username</p>
</div>
<br>
<div class="container">
    <div class="row center-text">
        <div class="card col box">
            <h1>Recent Activity</h1>
            <body>
                <p>Hello</p>
                <p>Hello</p>
                <p>Hello</p>
            </body>
        </div>
        <div class="card col box">
            <h1>Follows</h1>
            <body>
                <p>Hello</p>
                <p>Hello</p>
                <p>Hello</p>
            </body>
        </div>
        <div class="card col box">
            <h1>Followed Post</h1>
            <body>
                <p>Hello</p>
                <p>Hello</p>
                <p>Hello</p>
            </body>
        </div>
    </div>
</div>