.container-fluid {
    padding: 0;
    background-color: #f7f2ff;
    background-size: cover;
}

#left {
    background-color: #f7f2ff;
}

#center {
    padding-top: 20px;
    margin: 0 auto;
}

#right {
    background-color: #f7f2ff;
}

.btn-primary {
    color: #fdf4f7;
    background-color: #4d4382;
    border-color: #4d4382;
}

.btn-primary:hover {
    color: #fdf4f7;
    background-color: #291a4a;
    border-color: #291a4a;
}

.btn-outline-primary {
    color: #4d4382;
    border-color: #4d4382;
}

.btn-outline-primary:hover {
    color: #fdf4f7;
    background-color: #4d4382;
    border-color: #4d4382;
}

span {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

span:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    font-size: 14px;
    color: rgba(20, 20, 20, 0.8);
}

#follow-post-btn {
    text-align: right;
}

hr {
    margin: 20px 0;
}

.container-comment {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
    border-bottom: solid 1px rgb(100, 100, 100);
}

textarea{
    background-color: rgb(228, 228, 228);
}

#up{
    cursor: pointer;
}
#upLiked{
    cursor: pointer;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
}

#upDisliked{
    cursor: pointer;
}

#down{
    cursor: pointer;
    margin-right: 10px;
}

#downDisliked{
    cursor: pointer;
    margin-right: 10px;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); 
}

#downLiked{
    cursor: pointer;
    margin-right: 10px;
}

#vote{
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}

.allComments {
    background-color: white;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-bottom: 3vh;
}

#comments {
    border-bottom: 1px solid rgb(100, 100, 100);
    padding: 20px 10px;
}

#comments:last-child {
    border: none;
}

.allComments:empty {
    border: none;
}

#root {
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    margin-bottom: 1vh;
}

.container {
    background-color: white;
}

/* #buttons {
    display: flex;
    flex-wrap: wrap;
} */