<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="left">
        </div>
        <div class="row col-6" id="center">
            <div class="container" id="root">
                <div class="row">
                    <div class="col">
                        <p style="font-size: 13px;"><span style="font-size: 13px;"
                                (click)="goToUserProfile(root.userName)">{{ root.userName }}</span> • {{
                            root.dateTime | date:'short' }}</p>
                    </div>
                    <div class="col" id="follow-post-btn">
                        <app-follow-button-root class="btn btn-primary" style="min-width: 110px;" [id]="root.id">
                        </app-follow-button-root>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px;">
                    <h5>{{ root.title }}</h5>
                    <h6>{{ root.message }}</h6>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" routerLink="/read-root/{{root.id}}" role="button">Read Story</a>
                    </div>
                </div>
            </div>

            <div class="container-comment">
                <span><small>Add to the story as <span
                            style="color: brown;"><small
                                (click)="goToUserProfile(user)">{{user}}</small></span></small></span>
                <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
                    <div class="form-group mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                            placeholder="What are you thinking?" rows="5" cols="50" maxlength="140"
                            [(ngModel)]="comment.message"
                            name="message" #message="ngModel" required></textarea>
                    </div>
                    <div class="d-md-flex justify-content-md-end">
                        <div *ngIf="postForm.controls['message']?.valid; else invalid">
                            <input class="btn btn-primary btn-sm rounded-pill" type="submit" value="Comment">
                        </div>
                        <ng-template #invalid>
                            <input class="btn btn-primary btn-sm rounded-pill disabled" type="submit" value="Comment">
                        </ng-template>
                    </div>
                </form>
            </div>

            <div class="allComments">
                <div class="container" id="comments" *ngFor='let comment of root.comments'>
                    <div class="row">
                        <p style="font-size: 13px;"><span style="font-size: 13px;"
                                (click)="goToUserProfile(comment.userName)">{{ comment.userName }}</span> • {{
                            comment.dateTime | date:'short' }}
                        </p>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <h6>{{ comment.message }}</h6>
                    </div>
                    <div class="row">
                        <div class="col" id="buttons">
                            <span *ngIf="comment.votes.length !== 0 else zero">
                                <span *ngIf="checkIfCommentIsLiked(comment.votes) else notTouched">
                                    <span *ngIf="checkIfCommentIsLikedValue(comment.votes) else disliked">
                                        <img src="../../assets/arrowdark-upward.png" alt="" width="20px" id="upLiked"
                                            (click)="likeComment(comment.id)">
                                        <span id="vote">{{comment.totalVote}}</span>
                                        <img src="../../assets/arrow-downward.png" alt="" width="20px" id="downLiked"
                                            (click)="unLikeComment(comment.id)">
                                    </span>
                                    <ng-template #disliked>
                                        <img src="../../assets/arrow-upward.png" alt="" width="20px" id="upDisliked"
                                            (click)="likeComment(comment.id)">
                                        <span id="vote">{{comment.totalVote}}</span>
                                        <img src="../../assets/arrowdark-downward.png" alt="" width="20px"
                                            id="downDisliked" (click)="unLikeComment(comment.id)">
                                    </ng-template>
                                </span>
                                <ng-template #notTouched>
                                    <img src="../../assets/arrow-upward.png" alt="" width="20px" id="up"
                                        (click)="likeComment(comment.id)">
                                    <span id="vote">{{comment.totalVote}}</span>
                                    <img src="../../assets/arrow-downward.png" alt="" width="20px" id="down"
                                        (click)="unLikeComment(comment.id)">
                                </ng-template>
                            </span>
                            <ng-template #zero>
                                <img src="../../assets/arrow-upward.png" alt="" width="20px" id="up"
                                    (click)="likeComment(comment.id)">
                                <span id="vote">{{comment.totalVote}}</span>
                                <img src="../../assets/arrow-downward.png" alt="" width="20px" id="down"
                                    (click)="unLikeComment(comment.id)">
                            </ng-template>
                            <a class="btn btn-outline-primary" routerLink="/nest/{{ comment.id }}"
                                role="button" style="margin-right: 5px;">{{(comment.comments).length}} Comments</a>
                            <div *ngIf="user == comment.userName">
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="deleteComment(comment.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-3" id="right">
        </div>
    </div>
</div>